Source: ocemr-appliance
Section: admin
Priority: extra
Maintainer: Philip J Freeman <elektron@halo.nu>
Build-Depends: debhelper (>= 10.0.0), dh-systemd
Standards-Version: 3.9.2
Homepage: https://github.com/ph1l/ocemr-appliance

Package: ocemr-appliance
Architecture: all
Depends: ${misc:Depends}, sudo, ansible, python-pexpect
Description: OCEMR Appliance Automation Package.
 This package installs ansilble playbook to maintain an OCEMR appliance server.

Package: ocemr-appd
Architecture: all
Depends: ${misc:Depends}, ocemr-appliance (= ${binary:Version}), python-flask
Description: OCEMR Appliance Automation Configuration Package.
 This package installs a configuration daemon for an OCEMR appliance server.
